@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

.photo-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  /*grid-template-rows: repeat(4, 240px);*/
}

/* Medium screens */
@media screen and (min-width: 600px) {
  .cards-tall {
    grid-row: span 2 / auto;
  }

  .cards-wide {
    grid-column: span 2 / auto;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background: #353535;*/
  border: none;
  /*box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;*/
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}
