h1 {
  text-align: center;
  color: red;
}



html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body{
    margin:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block;
}

[hidden],template{
    display:none;
}
a{
    background-color:transparent;
}
a:active,a:hover{
    outline:0;
}
abbr[title]{
    border-bottom:1px dotted;
}
b,strong{
    font-weight:bold;
}
dfn{
    font-style:italic;
}
h1{
    font-size:2em;
    margin:0.67em 0;
}
mark{
    background:#ff0;
    color:#000;
}
small{
    font-size:80%;
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
sup{
    top:-0.5em;
}
sub{
    bottom:-0.25em;
}
img{
    border:0;
}
svg:not(:root){
    overflow:hidden;
}
figure{
    margin:1em 40px;
}
hr{
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0;
}
pre{
    overflow:auto;
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em;
}
button,input,optgroup,select,textarea{
    color:inherit;
    font:inherit;
    margin:0;
}
button{
    overflow:visible;
}
button,select{
    text-transform:none;
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
    -webkit-appearance:button;
    cursor:pointer;
}
button[disabled],html input[disabled]{
    cursor:default;
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0;
}
input{
    line-height:normal;
}
input[type='checkbox'],input[type='radio']{
    box-sizing:border-box;
    padding:0;
}
input[type='number']::-webkit-inner-spin-button,input[type='number']::-webkit-outer-spin-button{
    height:auto;
}
input[type='search']{
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}
input[type='search']::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{
    -webkit-appearance:none;
}
fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:0.35em 0.625em 0.75em;
}
legend{
    border:0;
    padding:0;
}
textarea{
    overflow:auto;
}
optgroup{
    font-weight:bold;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
td,th{
    padding:0;
}

/* For sure used */
.css-rco518-Container{
    text-size-adjust: 100%;
    font-family: "VSCO Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.css-1l1ec57{
    text-size-adjust: 100%;
    font-family: "VSCO Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    margin: 0px auto;
}

.sr-only{
    text-size-adjust: 100%;
    font-family: "VSCO Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    font-size: 2em;
    margin: 0px;
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0px;
    border: 0px;
    clip: rect(1px, 1px, 1px, 1px);
}

.SearchForm{
    text-size-adjust: 100%;
    font-family: "VSCO Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    width: 100%;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    margin-bottom: 100px;
}

.SearchFormInput-container{
    text-size-adjust: 100%;
    font-family: "VSCO Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    margin-bottom: 16px;
    position: relative;
}

.sr-only-label{
    text-size-adjust: 100%;
    font-family: "VSCO Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    vertical-align: middle;
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0px;
    border: 0px;
    clip: rect(1px, 1px, 1px, 1px);
}

#SearchFormInput{
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: inherit;
    font: inherit;
    margin: 0px;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: inherit;
    width: 100%;
    height: auto;
    padding-left: 0px;
    padding-bottom: 12px;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-radius: 0px;
    outline: none;
    font-size: 24px;
    box-sizing: inherit;
    vertical-align: middle;
    appearance: none;
    background: transparent;  
}

img {
    text-size-adjust: 100%;
    font-family: "VSCO Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    border: 0px;
    max-width: 90%;
    max-height: 90%;
    height: auto;
    user-select: none;
    opacity: 1;
    transition: opacity 0.2s ease 0s;
    position: absolute;
    inset: 0px;
    transform: translateZ(0px);
    will-change: transform, opacity;
    margin: auto;
}





/* Used for Adjustment Menu */
.settings {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#popout-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#popout-menu a:hover {
  color: #000000;
}

#popout-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  #popout-menu {padding-top: 15px;}
  #popout-menu a {font-size: 18px;}
}


/* Slider in adjustment menu */
.slidecontainer {
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.checkcontainer {
  display: flex;
  justify-content: center;
  align-items: center;

}


/* TEST */

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

* {
  outline: none;
}

strong {
  font-weight: 600;
}


header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #212121;
  color: #fff;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#popout-menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#popout-menu .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #bbbbbb;
}
#popout-menu:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#popout-menu * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#popout-menu:focus-within .button {
  pointer-events: none;
}
#popout-menu:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#popout-menu:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#popout-menu:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#setting-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ffffff;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#setting-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#setting-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#setting-content li a:hover {
  color: #BF7497;
}

#setting-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#popout-menu:focus-within #setting-content {
  transform: none;
}






* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}
